.restNameHolder1 {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.pfav {
  color: deepskyblue;
  font-weight: bold;
  //   margin-top: -20px;
}
.restName1 {
  font-size: 24px;
  color: brown;
}
